# ignore node dependency directories
node_modules/
build/
includes/file-manager/instawp*.php
includes/database-manager/instawp*.php

# ignore log files and databases
package-lock.json
*.log
*.sql
*.sqlite
*.lock
.DS_Store
**/.DS_Store
.idea/
auth.json
.vscode