/**
 * Main Style Sheet
 */

#wpadminbar {
    li#wp-admin-bar-instawp-template-migrate {
        a,
        a:active,
        a:focus,
        a:visited,
        a:hover {
            background: #6b2fad;
            color: #f1f1f1;
            outline: none;
            border: none;
            box-shadow: none;
            padding-left: 28px;
            padding-right: 28px;
        }
    }

    li#wp-admin-bar-instawp-go-live {
        a,
        a:active,
        a:focus,
        a:visited,
        a:hover {
            background: #10a372;
            color: #f1f1f1;
            outline: none;
            border: none;
            box-shadow: none;
            padding-left: 28px;
            padding-right: 28px;
            transition: 0.3s;
        }

        &.loading {
            position: relative;
            transition: 0.3s;

            &:after {
                content: ' ';
                position: absolute;
                height: 10px;
                width: 10px;
                top: 50%;
                left: 16px;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 3px solid rgb(255 255 255 / 20%);
                border-right-color: #fff;
                animation: loading 1s linear infinite;
                margin: -8px -8px;
            }
        }
    }

    li#wp-admin-bar-instawp {
        a {
            position: relative;
            width: 24px;

            &:hover,
            &:focus,
            &:visited {
                background: transparent;
                color: transparent;
            }

            &:after {
                position: absolute;
                content: url("../images/instawp-logo.svg");
                top: 50%;
                left: 50%;
                width: 24px;
                height: 24px;
                transform: translate(-50%, -50%);
            }
        }
    }
}


@keyframes loading {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}