/**
 * Admin CSS
 */


#wpadminbar li#wp-admin-bar-instawp-template-migrate a,
#wpadminbar li#wp-admin-bar-instawp-template-migrate a:hover,
#wpadminbar li#wp-admin-bar-instawp-template-migrate a:active,
#wpadminbar li#wp-admin-bar-instawp-template-migrate a:focus,
#wpadminbar li#wp-admin-bar-instawp-template-migrate a:visited {
    background: #6b2fad;
    color: #f1f1f1;
    outline: none;
    border: none;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
}
